<!-- src/main/resources/templates/error.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* 100%视口高度 */
            margin: 0;
        }

        .content {
            flex: 1; /* 填充剩余空间 */
        }

        .footer {
            background-color: #f0f0f0;
            padding: 10px;
            text-align: center;
        }
    </style>
    <title>Error</title>
</head>
<body>
<div class="content">
    <!-- 主要内容放在这里 -->
    <h1>An error occurred</h1>
    <p>Sorry, something went wrong. Please try again later.</p>
</div>
<div class="footer">
    <!-- 底部内容放在这里 -->
    <a href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2022004319号</a>
</div>
</body>
</html>
